
<div class="card w-100">
  <img src="{{ itemData.img_src }}" class="card-img-top card-wh-image">
  <div class="card-body">
    <h4 class="card-title">{{ itemData.name }}</h4>
    <h5 class="card-subtitle mb-2">${{ itemData.price_discounted }} <small class="text-muted"><s class="text-badprice">${{ itemData.price_original }}</s></small></h5>
    <p class="card-text">{{ itemData.rating }} <i class="fa fa-star" aria-hidden="true"></i> <small class="mx-3 text-muted">{{ itemData.reviews }} reviews</small> <span class="badge bg-success mr-1 rounded">{{ itemData.disfreq }}</span></p>
    <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#' + itemData.specid">View Offers</button>
  </div>
</div>
<!-- inspect -->
<div class="modal fade" id="{{ itemData.specid }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ itemData.name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

          <div class="row mb-2">
            <div class="col-sm-6">
              <small class="text-muted">
                Preview
              </small>
            </div>
            <div class="col-sm-6 text-end">
              <small class="text-muted">
                Locations Available
              </small>
            </div>
          </div>

          <div class="row border-bottom mb-1">
            <div class="col-sm-6">
              <img src="{{ itemData.img_src }}" class="modal-image">
            </div>
            <div #linkContainer class="col-sm-6 text-end">

              <!-- filled by api later -->

            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h5 class="card-subtitle mb-2">${{ itemData.price_discounted }} <small class="text-muted"><s class="text-badprice">${{ itemData.price_original }}</s></small></h5>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-sm-12">
              <p class="card-text">{{ itemData.rating }} <i class="fa fa-star" aria-hidden="true"></i> <small class="mx-3 text-muted">{{ itemData.reviews }} reviews</small> <span class="badge bg-success mr-1 rounded">{{ itemData.disfreq }}</span></p>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-sm-12">
              <p class="card-text">{{ itemData.description }}</p>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
