<div class="row w-100 mp-x">
  <div class="container-fluid p-5 mt-5 rounded shadow" style="height: 200px;">
    <div class="row">
      <div class="col-sm-3">
        <img class="promo-image-icon" src="https://static.thenounproject.com/png/603570-200.png">
      </div>
      <div class="col-sm-9 text-center">
        <h1>Sign-Up Today For Aamazing Deals</h1>
        <button class="btn mt-3 btn-lg btn-outline-primary btn-primary-outglow">Sign Up Now!</button>
      </div>
    </div>
  </div>
</div>
