<nav class="navbar-custom navbar navbar-expand-lg sticky-top sp-x shadow">
  <div class="container-fluid">
    <div class="text-center">
      <img src="https://static.thenounproject.com/png/603570-200.png" style="height:75px; width: auto;">
    </div>
    <button class="navbar-toggler border-0 subtle-underline" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-stuff" aria-controls="navbar-stuff" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-stuff">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
        <li class="nav-item">
          <button class="btn subtle-underline mx-1 nav-link">Home</button>
        </li>
        <li class="nav-item">
          <button class="btn subtle-underline mx-1 nav-link">About</button>
        </li>
        <li class="nav-item">
          <button class="btn subtle-underline mx-1 nav-link">Deals</button>
        </li>
        <!-- this fills remaining space-->
        <li class="nav-item w-100 text-end">
          <div class="input-group m-auto w-50">
            <input type="search" class="form-control subtle-underline searchbar-custom" id="item_search" placeholder="Search">
            <span class="" style="padding: 0px;">
              <button class="btn subtle-underline"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
