<nav class="navbar-custom navbar navbar-expand-lg sticky-top sp-x shadow">
  <div class="container-fluid">
    <div class="text-center">
      <img src="https://static.thenounproject.com/png/603570-200.png" style="height:75px; width: auto;">
    </div>
    <button class="navbar-toggler border-0 subtle-underline" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-stuff" aria-controls="navbar-stuff" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-stuff">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
        <li class="nav-item w-25 mx-4">
          <div class="input-group w-100">
            <input type="search" class="form-control subtle-underline searchbar-custom" id="item_search" placeholder="Search" (input)="updateContent($event)" (focus)="openCollapse()" (blur)="closeCollapse()">
            <span class="" style="padding: 0px;">
              <button class="btn subtle-underline" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
            <div id="collapseSearch" [ngClass]="{ 'show': isCollapseOpen }" class="collapse position-absolute mt-2 w-100 top-100 start-0 border bg-white shadow p-3">
              <h5 class="mb-5" [innerHTML]="inputValue"></h5>
              <small class="border-top pt-2 w-100"><a href="#">best deals</a> <a href="#" class="mx-4">sign up</a> <a href="#">game nights</a></small>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn subtle-underline mx-1 nav-link">Home</button>
        </li>
        <li class="nav-item">
          <button class="btn subtle-underline mx-1 nav-link">About</button>
        </li>
        <li class="nav-item">
          <button class="btn subtle-underline mx-1 nav-link">Deals</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
